/** This is the main stylesheet for the sass compiler, all imports should stem from this initial page. It contains the universal styles of the site, the imports and various other items. */
/** The menu is technically the header of the site, it contains the styles for the drop down of the Search Bar. */
header.menu { width: 100%; position: relative; z-index: 10; }

header.menu div.menu-container { width: 100%; background-color: black; padding: 0 20px; text-align: left; }

header.menu div.menu-container div.menu-holder { position: relative; width: 100%; max-width: 1280px; margin: 0 auto; }

header.menu div.menu-container h1 { font-family: Arial, Helvetica, sans-serif; font-size: 24px; line-height: 70px; color: white; text-align: left; display: inline-block; }

header.menu div.menu-container nav { display: inline-block; margin-left: 60px; }

header.menu div.menu-container nav i { color: white; font-size: 30px; line-height: 70px; }

header.menu div.menu-container nav i.search { position: absolute; right: 10px; top: 0; }

header.menu div.menu-container nav a.nav-item { font-family: Helvetica, Arial, Sans-Serif; font-size: 17px; line-height: 70px; text-transform: uppercase; text-decoration: none; white-space: nowrap; border-bottom: 1px solid transparent; color: #FFF; margin-right: 20px; }

header.menu div.search-container { position: absolute; background-color: white; z-index: 20; -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); width: 100%; padding: 5px; background-color: white; border-bottom: 1px solid #CCC; display: none; }

header.menu div.search-container.showing { display: block; }

header.menu div.search-container input[type='text'] { min-width: 100%; font-size: 36px; line-height: 50px; border: 1px solid #CCC; padding: 0 10px; }

header.menu div.search-container i.close { position: absolute; right: 10px; top: 5px; font-size: 36px; line-height: 50px; }

/** This is the central home page */
section#home { position: absolute; width: 100%; height: 100%; top: 0; left: 0; padding: 100px 20px 0; background-image: url("/img/header.jpg"); background-size: cover; background-repeat: no-repeat; }

section#home div.content { max-width: 1280px; margin: 0 auto; color: #FFF; }

div.result-container { width: 100%; background-color: black; padding: 0 20px; text-align: left; opacity: 0.5; -webkit-text-decoration-color: #FFFFFF; text-decoration-color: #FFFFFF; text-overline-color: #DADDEF; }

div.result-container h2 { color: antiquewhite; }

div.result-container p { color: coral; }

div.result-container h3 { color: gold; }

@media screen and (max-width: -1px) { .hidden-xs-down { display: none !important; } }

.hidden-xs-up { display: none !important; }

@media screen and (max-width: 575px) { .hidden-sm-down { display: none !important; } }

@media screen and (min-width: 576px) { .hidden-sm-up { display: none !important; } }

@media screen and (max-width: 767px) { .hidden-md-down { display: none !important; } }

@media screen and (min-width: 768px) { .hidden-md-up { display: none !important; } }

@media screen and (max-width: 991px) { .hidden-lg-down { display: none !important; } }

@media screen and (min-width: 992px) { .hidden-lg-up { display: none !important; } }

@media screen and (max-width: 1199px) { .hidden-xl-down { display: none !important; } }

@media screen and (min-width: 1200px) { .hidden-xl-up { display: none !important; } }

.container { max-width: 768px; margin: 0 auto; }

.container--fluid { margin: 0; max-width: 100%; }

.container__row { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; width: 100%; }

.container__col-offset-0 { margin-left: 0; }

.container__col-1 { -ms-flex-preferred-size: 8.33333%; flex-basis: 8.33333%; }

.container__col-offset-1 { margin-left: 8.33333%; }

.container__col-2 { -ms-flex-preferred-size: 16.66667%; flex-basis: 16.66667%; }

.container__col-offset-2 { margin-left: 16.66667%; }

.container__col-3 { -ms-flex-preferred-size: 25%; flex-basis: 25%; }

.container__col-offset-3 { margin-left: 25%; }

.container__col-4 { -ms-flex-preferred-size: 33.33333%; flex-basis: 33.33333%; }

.container__col-offset-4 { margin-left: 33.33333%; }

.container__col-5 { -ms-flex-preferred-size: 41.66667%; flex-basis: 41.66667%; }

.container__col-offset-5 { margin-left: 41.66667%; }

.container__col-6 { -ms-flex-preferred-size: 50%; flex-basis: 50%; }

.container__col-offset-6 { margin-left: 50%; }

.container__col-7 { -ms-flex-preferred-size: 58.33333%; flex-basis: 58.33333%; }

.container__col-offset-7 { margin-left: 58.33333%; }

.container__col-8 { -ms-flex-preferred-size: 66.66667%; flex-basis: 66.66667%; }

.container__col-offset-8 { margin-left: 66.66667%; }

.container__col-9 { -ms-flex-preferred-size: 75%; flex-basis: 75%; }

.container__col-offset-9 { margin-left: 75%; }

.container__col-10 { -ms-flex-preferred-size: 83.33333%; flex-basis: 83.33333%; }

.container__col-offset-10 { margin-left: 83.33333%; }

.container__col-11 { -ms-flex-preferred-size: 91.66667%; flex-basis: 91.66667%; }

.container__col-offset-11 { margin-left: 91.66667%; }

.container__col-12 { -ms-flex-preferred-size: 100%; flex-basis: 100%; }

.container__col-offset-12 { margin-left: 100%; }

@media screen and (min-width: 576px) { .container__col-sm-offset-0 { margin-left: 0; }
  .container__col-sm-1 { -ms-flex-preferred-size: 8.33333%; flex-basis: 8.33333%; }
  .container__col-sm-offset-1 { margin-left: 8.33333%; }
  .container__col-sm-2 { -ms-flex-preferred-size: 16.66667%; flex-basis: 16.66667%; }
  .container__col-sm-offset-2 { margin-left: 16.66667%; }
  .container__col-sm-3 { -ms-flex-preferred-size: 25%; flex-basis: 25%; }
  .container__col-sm-offset-3 { margin-left: 25%; }
  .container__col-sm-4 { -ms-flex-preferred-size: 33.33333%; flex-basis: 33.33333%; }
  .container__col-sm-offset-4 { margin-left: 33.33333%; }
  .container__col-sm-5 { -ms-flex-preferred-size: 41.66667%; flex-basis: 41.66667%; }
  .container__col-sm-offset-5 { margin-left: 41.66667%; }
  .container__col-sm-6 { -ms-flex-preferred-size: 50%; flex-basis: 50%; }
  .container__col-sm-offset-6 { margin-left: 50%; }
  .container__col-sm-7 { -ms-flex-preferred-size: 58.33333%; flex-basis: 58.33333%; }
  .container__col-sm-offset-7 { margin-left: 58.33333%; }
  .container__col-sm-8 { -ms-flex-preferred-size: 66.66667%; flex-basis: 66.66667%; }
  .container__col-sm-offset-8 { margin-left: 66.66667%; }
  .container__col-sm-9 { -ms-flex-preferred-size: 75%; flex-basis: 75%; }
  .container__col-sm-offset-9 { margin-left: 75%; }
  .container__col-sm-10 { -ms-flex-preferred-size: 83.33333%; flex-basis: 83.33333%; }
  .container__col-sm-offset-10 { margin-left: 83.33333%; }
  .container__col-sm-11 { -ms-flex-preferred-size: 91.66667%; flex-basis: 91.66667%; }
  .container__col-sm-offset-11 { margin-left: 91.66667%; }
  .container__col-sm-12 { -ms-flex-preferred-size: 100%; flex-basis: 100%; }
  .container__col-sm-offset-12 { margin-left: 100%; } }

@media screen and (min-width: 768px) { .container__col-md-offset-0 { margin-left: 0; }
  .container__col-md-1 { -ms-flex-preferred-size: 8.33333%; flex-basis: 8.33333%; }
  .container__col-md-offset-1 { margin-left: 8.33333%; }
  .container__col-md-2 { -ms-flex-preferred-size: 16.66667%; flex-basis: 16.66667%; }
  .container__col-md-offset-2 { margin-left: 16.66667%; }
  .container__col-md-3 { -ms-flex-preferred-size: 25%; flex-basis: 25%; }
  .container__col-md-offset-3 { margin-left: 25%; }
  .container__col-md-4 { -ms-flex-preferred-size: 33.33333%; flex-basis: 33.33333%; }
  .container__col-md-offset-4 { margin-left: 33.33333%; }
  .container__col-md-5 { -ms-flex-preferred-size: 41.66667%; flex-basis: 41.66667%; }
  .container__col-md-offset-5 { margin-left: 41.66667%; }
  .container__col-md-6 { -ms-flex-preferred-size: 50%; flex-basis: 50%; }
  .container__col-md-offset-6 { margin-left: 50%; }
  .container__col-md-7 { -ms-flex-preferred-size: 58.33333%; flex-basis: 58.33333%; }
  .container__col-md-offset-7 { margin-left: 58.33333%; }
  .container__col-md-8 { -ms-flex-preferred-size: 66.66667%; flex-basis: 66.66667%; }
  .container__col-md-offset-8 { margin-left: 66.66667%; }
  .container__col-md-9 { -ms-flex-preferred-size: 75%; flex-basis: 75%; }
  .container__col-md-offset-9 { margin-left: 75%; }
  .container__col-md-10 { -ms-flex-preferred-size: 83.33333%; flex-basis: 83.33333%; }
  .container__col-md-offset-10 { margin-left: 83.33333%; }
  .container__col-md-11 { -ms-flex-preferred-size: 91.66667%; flex-basis: 91.66667%; }
  .container__col-md-offset-11 { margin-left: 91.66667%; }
  .container__col-md-12 { -ms-flex-preferred-size: 100%; flex-basis: 100%; }
  .container__col-md-offset-12 { margin-left: 100%; } }

@media screen and (min-width: 992px) { .container__col-lg-offset-0 { margin-left: 0; }
  .container__col-lg-1 { -ms-flex-preferred-size: 8.33333%; flex-basis: 8.33333%; }
  .container__col-lg-offset-1 { margin-left: 8.33333%; }
  .container__col-lg-2 { -ms-flex-preferred-size: 16.66667%; flex-basis: 16.66667%; }
  .container__col-lg-offset-2 { margin-left: 16.66667%; }
  .container__col-lg-3 { -ms-flex-preferred-size: 25%; flex-basis: 25%; }
  .container__col-lg-offset-3 { margin-left: 25%; }
  .container__col-lg-4 { -ms-flex-preferred-size: 33.33333%; flex-basis: 33.33333%; }
  .container__col-lg-offset-4 { margin-left: 33.33333%; }
  .container__col-lg-5 { -ms-flex-preferred-size: 41.66667%; flex-basis: 41.66667%; }
  .container__col-lg-offset-5 { margin-left: 41.66667%; }
  .container__col-lg-6 { -ms-flex-preferred-size: 50%; flex-basis: 50%; }
  .container__col-lg-offset-6 { margin-left: 50%; }
  .container__col-lg-7 { -ms-flex-preferred-size: 58.33333%; flex-basis: 58.33333%; }
  .container__col-lg-offset-7 { margin-left: 58.33333%; }
  .container__col-lg-8 { -ms-flex-preferred-size: 66.66667%; flex-basis: 66.66667%; }
  .container__col-lg-offset-8 { margin-left: 66.66667%; }
  .container__col-lg-9 { -ms-flex-preferred-size: 75%; flex-basis: 75%; }
  .container__col-lg-offset-9 { margin-left: 75%; }
  .container__col-lg-10 { -ms-flex-preferred-size: 83.33333%; flex-basis: 83.33333%; }
  .container__col-lg-offset-10 { margin-left: 83.33333%; }
  .container__col-lg-11 { -ms-flex-preferred-size: 91.66667%; flex-basis: 91.66667%; }
  .container__col-lg-offset-11 { margin-left: 91.66667%; }
  .container__col-lg-12 { -ms-flex-preferred-size: 100%; flex-basis: 100%; }
  .container__col-lg-offset-12 { margin-left: 100%; } }

@media screen and (min-width: 1200px) { .container__col-xl-offset-0 { margin-left: 0; }
  .container__col-xl-1 { -ms-flex-preferred-size: 8.33333%; flex-basis: 8.33333%; }
  .container__col-xl-offset-1 { margin-left: 8.33333%; }
  .container__col-xl-2 { -ms-flex-preferred-size: 16.66667%; flex-basis: 16.66667%; }
  .container__col-xl-offset-2 { margin-left: 16.66667%; }
  .container__col-xl-3 { -ms-flex-preferred-size: 25%; flex-basis: 25%; }
  .container__col-xl-offset-3 { margin-left: 25%; }
  .container__col-xl-4 { -ms-flex-preferred-size: 33.33333%; flex-basis: 33.33333%; }
  .container__col-xl-offset-4 { margin-left: 33.33333%; }
  .container__col-xl-5 { -ms-flex-preferred-size: 41.66667%; flex-basis: 41.66667%; }
  .container__col-xl-offset-5 { margin-left: 41.66667%; }
  .container__col-xl-6 { -ms-flex-preferred-size: 50%; flex-basis: 50%; }
  .container__col-xl-offset-6 { margin-left: 50%; }
  .container__col-xl-7 { -ms-flex-preferred-size: 58.33333%; flex-basis: 58.33333%; }
  .container__col-xl-offset-7 { margin-left: 58.33333%; }
  .container__col-xl-8 { -ms-flex-preferred-size: 66.66667%; flex-basis: 66.66667%; }
  .container__col-xl-offset-8 { margin-left: 66.66667%; }
  .container__col-xl-9 { -ms-flex-preferred-size: 75%; flex-basis: 75%; }
  .container__col-xl-offset-9 { margin-left: 75%; }
  .container__col-xl-10 { -ms-flex-preferred-size: 83.33333%; flex-basis: 83.33333%; }
  .container__col-xl-offset-10 { margin-left: 83.33333%; }
  .container__col-xl-11 { -ms-flex-preferred-size: 91.66667%; flex-basis: 91.66667%; }
  .container__col-xl-offset-11 { margin-left: 91.66667%; }
  .container__col-xl-12 { -ms-flex-preferred-size: 100%; flex-basis: 100%; }
  .container__col-xl-offset-12 { margin-left: 100%; } }

html, html * { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0; margin: 0; }

html, body { width: 100%; height: 100%; }

main { width: 100%; height: 100%; display: block; position: relative; }

main * { -webkit-font-smoothing: antialiased; }

main a { -webkit-transition: opacity .5s; transition: opacity .5s; }

main a:hover { opacity: 0.7; }

main a:visited { color: inherit; }

main div.inner { width: 100%; height: auto; background-color: #960000; }

/*# sourceMappingURL=main.css.map */
