div.result-container {
  width: 100%;
  background-color: black;
  padding: 0 20px;
  text-align: left;
  opacity: 0.5;
  text-decoration-color: #FFFFFF;
  text-overline-color: #DADDEF;

  h2 {
    color: antiquewhite;
  }
  p {
    color: coral;
  }
  h3 {
    color: gold;
  }
}
